body{
margin:0;
font-family:Arial;
}

/* NAVBAR */

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 20px;
background:black;
color:white;
position:sticky;
top:0;
}

.nav-links{
display:flex;
gap:20px;
list-style:none;
}

.nav-links a{
color:white;
text-decoration:none;
}

.menu-toggle{
font-size:28px;
cursor:pointer;
display:none;
}

/* HERO */

.hero{
text-align:center;
padding:80px 20px;
background:linear-gradient(135deg,#0f2027,#2c5364);
color:white;
}

.profile-img{
width:150px;
height:150px;
border-radius:50%;
border:4px solid white;
}

.hero-buttons{
display:flex;
justify-content:center;
gap:15px;
flex-wrap:wrap;
margin-top:20px;
}

.hero-buttons a{
padding:10px 20px;
background:#f4a742;
color:white;
border-radius:8px;
text-decoration:none;
}

/* SECTIONS */

section{
padding:60px 20px;
text-align:center;
}

/* SKILLS */

.skill{
max-width:400px;
margin:20px auto;
}

.bar{
background:#ddd;
height:8px;
border-radius:5px;
}

.fill{
background:#f4a742;
height:8px;
border-radius:5px;
}

/* PROJECTS */

.projects-container{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.project-card{
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
max-width:300px;
}

/* CONTACT */

form{
display:flex;
flex-direction:column;
gap:10px;
max-width:400px;
margin:auto;
}

input,textarea{
padding:10px;
}

button{
padding:10px;
background:#f4a742;
border:none;
color:white;
cursor:pointer;
}

/* SCROLL BUTTON */

#topBtn{
position:fixed;
bottom:20px;
right:20px;
background:#f4a742;
border:none;
padding:10px;
border-radius:50%;
cursor:pointer;
}

/* MOBILE */

@media(max-width:768px){

.menu-toggle{
display:block;
}

.nav-links{
position:absolute;
top:60px;
left:0;
width:100%;
background:black;
flex-direction:column;
align-items:center;
display:none;
padding:15px 0;
}

.nav-links.active{
display:flex;
}

.hero-buttons{
flex-direction:column;
align-items:center;
}

.hero-buttons a{
width:160px;
text-align:center;
}

.projects-container{
flex-direction:column;
align-items:center;
}

}